{% extends 'app/pages/base.html' %}

{% block title %}About{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      About
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        Help West Ada is a group of parent substitute teachers who wish to volunteer on an as-needed basis.  We support a simplified, streamlined process for parents to help when no other professional resources are available.
      </p>
      <p>
        Help West Ada is a self-funded, volunteer intitiatve produced in partnership with the West Ada School District.
      </p>
    </div>
  </section>
{% endblock content %}
