{% extends 'app/pages/base.html' %}

{% block title %}About{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      About
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        My name is <a href='https://www.dbinetti.com'>David Binetti</a>, I'm a parent of two West Ada students, and I created this site to keep our kids all in school.  The move from hybrid to full-time instruction will create operational gaps that parents and volunteers can fill and in so doing help West Ada School District keep the classrooms open.
      </p>
      <p>
        I have no political agenda, the site is totally free, and protects your privacy.  I just want to Help West Ada, and if you agree please <a href='{% url "join" %}'>join me</a>.
      </p>
    </div>
  </section>
{% endblock content %}
