{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block formmedia %}{{ form.media }}{% endblock formmedia %}

{% block title %}Account Information{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Thank You for Helping West Ada!
    </h2>
    <p class='lead mt-3'>
      Please provide the following information to sign up as a Beta tester for this program.
    </p>
  <section class='my-5'>
    <div class='card'>
      <h4 class='card-header'>Contact Information</h4>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.name show_help=False show_label=True %}
            {% bootstrap_field form.email show_help=False show_label=True %}
            {% bootstrap_field form.phone show_help=False show_label=True %}
            {% bootstrap_field form.address show_help=False show_label=True %}
            {# {% bootstrap_field form.ssn show_help=True show_label=True %} #}
            {% bootstrap_field form.is_diploma show_help=False show_label=True %}
            {% bootstrap_field form.is_certificate show_help=False show_label=True %}
            {% bootstrap_field form.is_criminal show_help=False show_label=True %}
            {% bootstrap_field form.criminal_notes show_help=False show_label=False %}
            {% bootstrap_field form.is_offender show_help=False show_label=True %}
            {% bootstrap_field form.is_wasd show_help=False show_label=True %}
            {% bootstrap_field form.wasd_notes show_help=False show_label=False %}
            {% bootstrap_field form.schools show_help=True show_label=True %}
            {% bootstrap_button "Save" button_type='submit' size='large' %}
            {% bootstrap_button "Cancel" button_type='link' href="/account" size='large' button_class='btn-light' extra_classes='ml-3'%}
          </form>
        </div>
      </div>
      <div class='card-footer'>
        <p>
          <small class='text-muted'>Your information is kept private unless you explicitly indicate otherwise.  Please contact <a href='mailto://support@helpwestada.com'>support@helpwestada.com</a> if you have any questions or need support.</small>
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class='text-right'>
      <a href='{% url "delete" %}'><span class='text-danger'>Delete Account</span></a>
    </div>
  </section>
{% endblock content %}
