{% extends 'app/pages/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      Frequently Asked Questions
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        Below are answers to some frequently asked questions.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What are you doing with my personal information?
      </h5>
      <p class='pl-4 col-lg-8'>
        The data collected by the site is used to connect you to needed roles within the West Ada District, including as substitutes, para-educators, and any other position where help is needed.  If you specifically ask, we will share your data with the West Ada School District itself.  We do not share any information without your express permission.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Who is paying for this?
      </h5>
      <p class='pl-4 col-lg-8'>
        This is entirely self-funded.  It isn't a business, and we're not even asking for donations.  We just want to keep the kids all in school, and that's worth more to us than the few dollars it takes to run this website.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What if I have a question you haven't addressed?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please let us know at <a href='mailto:support@helpwestada.com'>support@helpwestada.com</a> so that we can add it to the FAQ!
      </p>
    </div>
  </section>
{% endblock content %}
