{% extends 'app/pages/base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}{% endblock title%}

{% block content %}
  <section class 'mt-5'>
    {% comment %}
    <div id='id_wistia'>
      <script src="https://fast.wistia.com/embed/medias/beb6fxz2dk.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_beb6fxz2dk popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    </div>
    {% endcomment %}
    <div class='jumbotron'>
      <div class='mb-5'>
        <h2 class='text-center'>
          <strong>Help West Ada!</strong>
        </h2>
      </div>
      <div>
        <p class='lead'>
          Help West Ada is a group of parents willing to volunteer as substitute teachers when the need arises.
        </p>
        <p class='lead'>
          Help West Ada is a self-funded initiative of the West Ada Parents Association, working in partnership with the West Ada School District to help ensure our kids always can stay in school.
        </p>
      </div>
      {% comment %}
      <div class='mb-5'>
        <h2 class='text-center'>
          Let's Get <strong>Help West Ada</strong> School!
        </h2>
      </div>
      {% endcomment %}
      <div class='my-5'>
        <a href='{% url "join" %}' class="btn btn-success btn-block btn-lg">
          Register Here!
        </a>
      </div>
    </div>
  </section>
  {% comment %}
  <section class='mt-5'>
    <div class="card">
      <h5 class="card-header">Community Members</h5>
      <div class="card-body">
        <h5 class="card-title">Our movement currently has {{total}} members.</h5>
        <p>Of the {{total}}, here are those who have elected to share their names publicly:</p>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
              <tr>
                <td>{{account.name}}</td>
                <td>{{account.comments}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {% endcomment %}
{% endblock content %}
