{% extends 'app/pages/base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}{% endblock title%}

{% block content %}
  <section class 'mt-5'>
    {% comment %}
    <div id='id_wistia'>
      <script src="https://fast.wistia.com/embed/medias/beb6fxz2dk.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_beb6fxz2dk popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    </div>
    {% endcomment %}
    <div class='jumbotron'>
      {% comment %}
      <div class='mb-5'>
        <h2 class='text-center'>
          <strong>Help West Ada!</strong>
        </h2>
      </div>
      {% endcomment %}
      <div>
        <p class='lead'>
          The West Ada School District needs substitute teachers.  The <strong>Help West Ada</strong> program is a streamlined process for training and enrolling parents as volunteer substitutes, designed in partnership with the <a href='https://www.westada.org'>West Ada School District</a>.
        </p>
      </div>
      <div class='my-5'>
        <a href='{% url "login" %}' class="btn btn-success btn-block btn-lg my-3">
          Register Here!
        </a>
        <a class="btn btn-outline-dark btn-lg btn-block my-3" data-toggle="collapse" href="#learnmore" role="button" aria-expanded="false" aria-controls="collapseExample">
          Learn More
        </a>
      </div>
    </div>
  </section>
  <div class='collapse' id='learnmore'>
    {% include 'app/pages/includes/faq.html' %}
  </div>
{% endblock content %}
